*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), transparent), url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0 2%;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    position: fixed;
    right: 0;
}

.logo{
    width: 130px;
    cursor: pointer;
}

.nav-logo{
    text-shadow: 0 0 5px black;
}

.cart-icon{
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 20%;
}

.nav-icon{
    position: absolute;
    top: 8%;
}

.menu-icon{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.nav-box{
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 2;
}

.nav-box li{
    list-style: none;
    z-index: 1;
}

.nav-box li a{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: 0.5s;
    position: relative;
    top: 0;
    border-bottom: 1px solid black;
}

.nav-box li a:nth-child(3) {
    color: orange;
    background-color: black;
}

.nav-box li a:hover{
    background-color: black;
    color: orange;
}

.nav-box li #closer{
    position: absolute;
    right: 1%;
    font-size: 40px;
    top: -1%;
    border: none;
}

.nav-box li #closer:hover{
    background-color: transparent;
    color: white;
}

.second-nav-box{
    display: none;
}

.main-text{
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    color: white;
    width: 100%;
    right: 0;
    padding: 0 20px;
}

.main-text .first-child-text{
    font-size: 20px;
}

.main-text h1{
    font-size: 90px;
    color: transparent;
    margin-left: -5px;
    -webkit-text-stroke: 1px white;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 50px 0;
    animation: anime 20s linear infinite;
}

@keyframes anime{
    100%{
        background-position: 2000px 0;
    }
}

.main-text h3{
    font-size: 20px;
    margin-bottom: 30px;
}

.main-text a{
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 1px black;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.main-text a:hover{
    background: #fff;
    color: black;
    border: 2px solid white;
}

footer p{
    position: absolute;
    left: 70%;
    transform: translateX(-40%);
    top: -90px;
    font-size: 20px;
    width: 200px;
    color: orange;
    text-shadow: 0 0 1px black;
}

footer a:nth-child(3){
    margin-inline: 20px;
}

/*RESPONSIVE DESIGN*/

@media (max-width: 480px) {
    footer{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    footer img{
        width: 25px;
        position: relative;
        top: -50px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .cart-icon{
        position: absolute;
        right: 15%;
    }

    .menu-icon{
        position: absolute;
        right: 4%;
    }

    .main-text h1{
        font-size: 120px;
    }

    footer{
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    footer img{
        width: 25px;
        position: relative;
        top: -50px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cart-icon{
        position: absolute;
        right: 15%;
    }
    
    .menu-icon {
        position: absolute;
        right: 4%;
    }

    .main-text h1{
        font-size: 130px;
    }

    .main-text p, .main-text h3{
        font-size: 25px;
    }

    footer{
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    footer img{
        width: 25px;
        position: relative;
        top: -50px;
    }
}


@media (min-width: 1025px) and (max-width: 1280px) {
    .cart-icon{
        position: absolute;
        right: 5%;
    }

    .menu-icon{
        display: none;
    }

    .second-nav-box {
        display: block;
        position: absolute;
        right: 10%;
    }

    .second-nav-box li{
        list-style: none;
        display: inline-block;
        margin-inline: 15px;
    }

    .second-nav-box li a{
        color: white;
        position: relative;
    }

    .second-nav-box li a::after{
        content: '';
        width: 0;
        color: white;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: orange;
        transition: width 0.3s;
    }

    .second-nav-box li a:hover::after{
        width: 50%;
    }

    .main-text{
        position: absolute;
        bottom: 25%;
    }

    .main-text p, .main-text h3{
        font-size: 35px;
    }

    .main-text h1{
        font-size: 150px;
    }

    footer{
        position: absolute;
        right: 5%;
        bottom: 8%;
    }

    footer p{
        display: none;
    }

    footer img{
        width: 25px;
        display: block;
        margin: 25px 5px;
    }

    footer a:nth-child(3){
        margin-inline: 0;
    }
    
}